ion-content{
  background: linear-gradient(to bottom, #aa4b6b, #6b6b83, #3b8d99);
}

h2{
  color: #ffffff;
  text-align: center
}

p{
  color: #ffffff;
  text-align: justify
}

img{
  height: 30%
  width 30%
  block
}
ion-item{
  background: #6b6b83;
  color: #ffffff;
  text-align: justify
}